services:
  api:
    build:
      context: .          # raiz do projeto
      dockerfile: server/Dockerfile
    container_name: teti_api
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - postgres

  web:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: teti_web
    ports:
      - "3001:3000"      # host:container -> acessa em http://localhost:3001
    env_file:
      - .env
    depends_on:
      - api

  postgres:
    image: postgres:15
    container_name: teti_db
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  prisma-studio:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: teti_studio
    entrypoint: ["sh", "entrypoint.studio.sh"]
    ports:
      - "5555:5555"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - postgres
    restart: "no"

volumes:
  postgres_data:
